<main class="landing">
    <header>
        <h3>Mbalenhle Ndaba</h3>
    </header>
    <section class="greet">
        <h1>Full Stack Agile Software Developer and final year Software Development student at the University of South Africa</h1>
    </section>
    <section class="arrow">
        <i class="fa fa-arrow-down"></i>
    </section>
</main>

<footer>
</footer>